body {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: #D7907B;
  background-color: #D7907B;
}

.wrapper {
  position: absolute;
  height: 750px;
  width: 800px;
  top: 20%;
  left: 50%;
  margin: -15vh 0 0 -40vw;
  padding: 5px 5px 0 5px;
  background-color: #DDFFD9;
}

.info {
  padding: 2px;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}

table {
  height: 450px;
  width: 600px;
  position: relative;
  margin: -30px 0 0 100px;
  padding: 5px;
  background-color: #ECC8AE;
}

tbody {
  text-align: center;
}

button.board-cell:active, button.board-cell:focus {
  outline: none;
}

button.board-cell.default-img {
  height: 60px;
  width: 60px;
  background: url('../images/apple_black_white_line_art.svg') no-repeat;
  background-position: center;
  background-size: 50px 50px;
}

button.board-cell.ambrosia {
  height: 60px;
  width: 60px;
  background: url('../images/player_one_mouth.png');
  background-position: center;
  background-size: 50px 50px;
}

button.board-cell.jupiter {
  height: 60px;
  width: 60px;
  background: url('../images/player_two_mouth.png');
  background-position: center;
  background-size: 50px 50px;
}

.message {
  position: relative;
  top: -30px;
  margin-left: 100px;
  height: 100px;
  width: 550px;
  font-size: 1.5em;
  text-align: center;
}

.play-again {
  position: relative;
  top: 0;
  background: none;
}

a {
  color: #D7907B;
  background: none;
  outline: none;
  text-decoration: none;
}

a:focus a:active {
  color: #D7907B;
  background: none;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

footer {
  position: relative;
  bottom: 15px;
}
